/* Specific to Ant Design Table */
.ant-table-wrapper::-webkit-scrollbar {
    height: 8px; /* Horizontal scrollbar height */
}

.ant-table-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.ant-table-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(203, 212, 224);
    border-radius: 10px;
}

.ant-table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
